<!DOCTYPE html>
<html>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<body>


<div class="container">
      <div class="text-center">
        <h1>Kai's Travels</h1>
          <h5>Stay hungry. Stay foolish. Kaizen. </h5>
      </div>
    <div>
        <a href = '/travel/'>Return </a>
    </div>
    <div>
    {% block content %}
    {% endblock %}
    </div>


</div>


</body>
</html>