<div class="container">



      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
                <h1>Kaizen Travels</h1>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="NorthAmerica" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                North America
              </button>
              <div class="dropdown-menu" aria-labelledby="NorthAmerica">
                <a class="dropdown-item" href="/country/US/">US</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="CentralAmericaAndCaribbean" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Central America and Caribbean
              </button>
              <div class="dropdown-menu" aria-labelledby="CentralAmericaAndCaribbean">
                <a class="dropdown-item" href="/country/CR/">CR</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="SouthAmerica" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                South America
              </button>
              <div class="dropdown-menu" aria-labelledby="SouthAmerica">
                <a class="dropdown-item" href="/country/CL/">CL</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="Europe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Europe
              </button>
              <div class="dropdown-menu" aria-labelledby="Europe">
                  <a class="dropdown-item" href="/country/CH/">CH</a>
                  <a class="dropdown-item" href="/country/ES/">ES</a>
                  <a class="dropdown-item" href="/country/IT/">IT</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="Africa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Africa
              </button>
              <div class="dropdown-menu" aria-labelledby="Africa">
                <a class="dropdown-item" href="/country/MA/">MA</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="MiddleEast" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Middle East
              </button>
              <div class="dropdown-menu" aria-labelledby="MiddleEast">
                <a class="dropdown-item" href="/country/IL/">IL</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="Asia" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Asia
              </button>
              <div class="dropdown-menu" aria-labelledby="Asia">
                <a class="dropdown-item" href="/country/TW/">TW</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle" type="button" id="Tech" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tech Corner
              </button>
              <div class="dropdown-menu" aria-labelledby="Tech">
                <a class="dropdown-item" href="https://engineering.purdue.edu/AMP/">AMP</a>
              </div>
            </div>


        </nav>
      </div>
</div>

