{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Austria</h1>
<p>
    Spring 2018, drank a pitcher each then skied the hill... zero visibility that day.  </br></br>

    We skied St. Anton.  The train from Zurich took us nearly straight there.  Easily one of the most
    confusing ski maps I've ever tried to read, we spend the first half the day just trying to get
    to the other side of the resort to find our friends.  The visibility was awful and we essentially
    were playing marco polo going down the runs trying to keep track of each other.  I consumed an impressive
    amount of whiskey and peach rings for energy on the mountain.  St. Anton had some of the liveliest apre ski
    parties I've seen.  Nothing like a bunch of Austrians belting out "Take me home, country roads" at the top
    of their lungs.  We drank a pitcher each and did the equivalent of stumbling down the mountain on our skies afterwards.
    <div class="col-lg-8">
        <img class="img-fluid" src="{% static 'travel/img/AT.JPG' %}" alt="">
	</div>
</p>

{% endblock %}