{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Switzerland</h1>
<p>
    Studied abroad in Zurich spring semester 2018.<br><br>

    Spent spring semester of my junior year studying Computer Science at ETH Zurich.  They pronounce it
    "eh - te - how" in German.  Excellent technical school and one of the most efficiently run, wealthy cities
    I've scene.  Attended class and crammed for my Compilers course Monday through Thursday then travelled on
    the weekends.  I lived on sweet, buttery gipfeli's and kafe's.  Stayed in WOKO student housing on Bulahoff.
    The Swiss trains were excellent and used them to see the country. <br><br>

    AJ looking tough as we rip lines through the powder in our favorite ski resort, Zermatt.<br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CH_Zermatt_5.JPG' %}" alt="">
	</div></br></br>
    I arrived in Switzerland on Superbowl Sunday.  Sleep deprived and jetlagged from Israel, I dropped
    my bags in my apartment room and met a crowd of MIT exchange students in my living room.  After brief introductions,
    and the rounds of vodka shots that ensued, Matt and I became quick friends with Bryan.  Words can not describe what
    a character this man can be. <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CH_SuperBowl.JPG' %}" alt="">
	</div></br></br>
    First day of intensive German class, we made quick friends of those who came to Switzerland for the mountains.
    The ski squad stayed together all semester: 4 americans, 2 swedes, and a spaniard.  Picture taken on our other
    favorite ski resort, Verbier.<br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CH_Verbier_2.JPG' %}" alt="">
	</div></br></br>
    Zermatt had some of the longest runs with moguls.  We were gassed after traversing the seeming miles of bumps.
    Here we were waiting for India to coax the nervous Carla down the hill, but honestly I was grateful for the break.<br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CH_Zermatt_Moguls.JPG' %}" alt="">
	</div></br></br>
    Matt and I cooked most our meals in our Woko apartment because Zurich was simply too expensive to eat out.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CH_Woko.JPG' %}" alt="">
	</div></br></br>
    Springfest is a big holiday in Switzerland.  It culminates with a climatic lighting of fire of the snowman...packed
    with fireworks.<br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CH_Springfest.JPG' %}" alt="">
	</div></br></br>

</p>

{% endblock %}