{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Chile</h1>
<p>
    Rafting Trip. <br><br>

    Definitely one of my favorite vacations.  I woke up to a voice outside the tent and a warm cup of coffee everyday.
    We were definitely "glamping" (term meaning glamour camping), although we were in tents on a muddy bluff
    overlooking the Futaleufu river, our chef was a private chef in the Hamptons in the offseason.
    Our fearless river guide Rio led us down the rapids.  Highlight
    of the trip was the day we took the inflateable duckies down the river.  It was impossible and everyone got thrown
    from their kayaks, I spent half the rapids grasping on to the front of my guides kayak as he guided me through the
    rest of the treacherous stretch.  Another traveler was less lucky and broke his foot getting rammed against the rocks.
    At night we'd relax our tired muscles in the hottub then huddle around the fire drinking soup out of coffee mugs.
    The eccentric guy who owned the tour company led a yoga session at sun up.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CL_family.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CL_action.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CL_river.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CL_tent.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CL_camp.jpg' %}" alt="">
	</div></br></br>
</p>

{% endblock %}