{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Costa Rica</h1>
<p>
    SB Zip Line.  <br><br>

    I don't remember a lot from this trip but the wildlife and coffee were highlights for sure.
    I have always been a coffee fanatic and enjoyed touring the coffee plantations.  We
    spent a lot of time hiking through the forest, trying to spot monkeys and Toucans.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CR.jpg' %}" alt="">
	</div></br></br>
   </br></br> <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CR_2.jpg' %}" style="transform:rotate(90deg);" alt="".JPG>
	</div></br></br></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CR_3.jpg' %}" alt="">
	</div></br></br>
</p>

{% endblock %}