{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }}</h1>
<p>
    Spring 2018.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_FancyFood.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_Bfast.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_picnic.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_travel_squad.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_RollingIn.JPG' %}" alt="">
	</div></br></br>

</p>

{% endblock %}