{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Czech Republic</h1>
<p>
    Spring 2018. <br><br>

    Eastern European is very cheap.  Instead of trying to save our money, instead we chose
    to take advantage of the occasion and live like kings.  The city was much more beautiful and
    romantic than I thought it would be.  We had a foodie guide given to us by Barbara and we used it to
    navigate the city for restaurants and bars.  The picnic we had at sunset on the river was by far our
    highlight of the trip.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_FancyFood.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_Bfast.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_picnic.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_travel_squad.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/CZ_RollingIn.JPG' %}" alt="">
	</div></br></br>

</p>

{% endblock %}