{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Germany</h1>
<p>
    To the Land of My People <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/DE_Walkensweiler_GreatGrandma.JPG' %}" alt="">
	</div></br></br>
    We still have extended family living in the German town of Walklensweiler.  In fact, my sister was named after
    my Mom's cousin living here.  The house behind us is my Great Great
    Grandmother's.
    My highlight of Germany was visiting neuschwanstein castle.  I also enjoyed hiking
    around the base of Germisch, Germany's largest mountain.
    </br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/DE_2.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/DE_3.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/DE_Germisch.JPG' %}" alt="">
	</div></br></br>



</p>

{% endblock %}