{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Dominican Republic</h1>
<p>
    Sketchy Buses and Beautiful Beaches. <br><br>

    We stayed in downtown Santa Domingo.  The city was bustling and exciting.  It was hard to see the great wealth and
    poverty side by side.  For transportation around the city, we took these sketchy taxi vans.  You just leaned out into
    the street and waved two fingers in the direction you were going.  A van would swerve over, and a man leaning out the
    door would collect your change and let you squeeze into the crowded vehicle.  They added benches to fit more people,
    but the benches were often not even bolted to the floor so they'd rock a little bit every time the van accelerated.
    One of the most beautiful beaches we visited was at Club Hemingway.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/DO_bus.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/DO_bus_.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/DO_writer.JPG' %}" alt="">
	</div></br></br>


</p>

{% endblock %}