{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Spain</h1>
<p>
    Spring Break 2018.  <br><br>

    We met our good friend Carla through classes at ETH.  She is from a small beach town in Spain outside
    Girona called L'Escala.  Her family runs a restaurant and they were kind enough to host us in their home
    for the tail end of Spring Break.  Tourist season hadn't started up yet, so we had a couple leisurely days to
    hang around the sleepy beach town before checking our Girona and ending in Barcelona.  We sky dived over the
    coastal town of Empuriabrava, jumping at 4000 meters.  We free fell for a full minute before deploying our chutes at
    1500 meters for a total of a five minute flight.  After landing, my instructor told me he was surprised how well
    it went because its difficult jumping with people taller than you... I'm glad he waited to tell me.  He told me
    he'd jumped thousands of times, so to him it was routine.
    <br><br>
    In barcelona we looked at the beautiful architecture and went to the incredible clubs.
    <br><br>
    Later in the semester we made a trip out to Valencia to meet Matt's extended family then stay with Purdue students
    in Madrid.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_2.JPG' %}" alt="">
	</div></br></br>
    Walking along the coast in L'Escala. <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_CarlasTown.JPG' %}" alt="">
	</div></br></br>
    We had an absolute feast at Carla's families restaurant.  The courses just came on coming. <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_CarlasRestaurant.JPG' %}" alt="">
	</div></br></br>
    We explored Girona and observed the castle Game of Thrones filmed at.  <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_Girona.JPG' %}" alt="">
	</div></br></br>
    In Madrid, there were an insane number of Purdue students studying at University of Madrid III. On my second day,
    we took advantage of the weather and had a picnic in the park.<br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_PurdueSquad.JPG' %}" alt="">
	</div></br></br>
    Matt and I toured the royal palace in Madrid.  <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_Castle.JPG' %}" alt="">
	</div></br></br>
    We spent way too much at a fancy yacht club at the harbor in Barcelona but the sangria and view were amazing. <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_Sangria_Barcelona.JPG' %}" alt="">
	</div></br></br>

</p>

{% endblock %}