{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }}</h1>
<p>
    Spring Break 2018.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_2.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_CarlasTown.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_CarlasRestaurant.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_Girona.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_PurdueSquad.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_Castle.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/ES_Sangria_Barcelona.jpg' %}" alt="">
	</div></br></br>

</p>

{% endblock %}