{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - France</h1>
<p>
    January 2018.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/FR.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/FR_2.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/FR_Catacombs.JPG' %}" alt="">
	</div></br></br>
</p>

{% endblock %}