{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - France</h1>
<p>
    January 2018.<br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/FR.JPG' %}" alt="">
	</div></br></br>
    We flew into Paris from Morocco.  We were incredibly excited to eat food our stomachs were more accustomed too. I had
    eaten some pretty sketchy meals in Morocco and was excited to stuff my face with crepes and croissants.  Surprisingly,
    the highest rated restaurants in the area we were staying were all asian restaurants.  My favorite was Kintaro.  The line
    was always down the block.  The Paris brasseries always had cool atmosphere to sit outside at night, sipping cognac.<br><br>

    I enjoyed exploring Montmarte and tasting the crepes served out of the cafe windows on the street.  <br><br>

    We got a walking tour in broken english of a collection of street art.  Not a topic I had much exposure to but thoroughly
    enjoyed. <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/FR_2.JPG' %}" alt="">
	</div></br>

    You can always count on the corny Rick Steves to reliably guide you through the city.  We used his recordings to explore
    much of the old city.<br><br>

    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/FR_Catacombs.JPG' %}" alt="">
	</div></br>
    The catacombs are always an overwhelming sensory experience.  It's hard to comprehend that each bone belonged to
    a human years ago.  <br><br>
</p>

{% endblock %}