{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Great Britain</h1>
<p>
    Couple of trips
    <div class="col-lg-4">
        <img class="img-fluid" src="{% static 'travel/img/GB_5.jpg' %}" alt="">
        <img class="img-fluid" src="{% static 'travel/img/GB_2.jpg' %}" style="transform:rotate(90deg);" alt="">
	</div></br></br>
    <div class="col-lg-4">
        <img class="img-fluid" src="{% static 'travel/img/GB_3.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-4">
        <img class="img-fluid" src="{% static 'travel/img/GB_4.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-4">
        <img class="img-fluid" src="{% static 'travel/img/GB_6.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-4">
        <img class="img-fluid" src="{% static 'travel/img/GB.jpg' %}" alt="">
	</div></br></br>
</p>

{% endblock %}