{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Greece</h1>
<p>
    The Odyssey Remade<br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/GR.jpg' %}" alt="">
	</div></br>
    I felt like a real intellectual on this trip because tucked in my carry on was a hefty, hard covered version of the
    Odyssey.  Comments on how nerdy I was aside, Greece redefines the meaning of "old".  Growing up in America, I had
    learned to think of history as the 1800's, but the sights we saw dated back to the second millennium BC.  We visited
    Mycenae, an archaeological site dating back to this time period.  This makes Jesus Christ and the stories of the new
    testament seem like recent history.  So much of Western society's art, law and ideals in general are based off intellectuals
    from Greece so it was interesting to peruse the multitude of museums and witness first hand what I had read so much
    about in elementary history classes.
    <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/GR_2.jpg' %}" alt="">
	</div></br></br>
    We took a day to explore the island of Hydra where no cars are allowed.  We watched amusingly as donkey's were used
    to transport travelers bags up the steep, cobblestone roads.  We met an American ex pat who welcomed into his small
    home.  One of the most peaceful, simple places I've traveled.
    <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/GR_4.jpg' %}" alt="">
	</div></br></br>
</p>

{% endblock %}