{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Croatia</h1>
<p>
    Summer 2012.

    I enjoyed Croatia because it wasn't as touristy as Italy.  It had a beautiful coasts, with wide streets to walk down
    lined with Cafes. <br><br>
    Dubrovnik<br><br>
    Split<br><br>
    plitvice lakes<br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/HR_1.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/HR_2.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/HR_3.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/HR_4.JPG' %}" alt="">
	</div></br></br>
</p>

{% endblock %}