{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }}</h1>
<p>
    January 2018.
    <div class="col-lg-8">
        <img class="img-fluid" src="{% static 'travel/img/IE.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-8">
        <img class="img-fluid" src="{% static 'travel/img/IE_Guiness.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-8">
        <img class="img-fluid" src="{% static 'travel/img/IE_galway.JPG' %}" alt="">
	</div>
</p>

{% endblock %}