{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Ireland</h1>
<p>
    January 2018.  My last trip in January before starting school in Switzerland, I visited Barbara in Ireland.  She
    was on exchange at UCD.  I did the obligatory tour of the Guinness factory and Book of Kells. Barbara introduced me
    to Sandmean tours, a service that provides free tours of cities all around the world.  I learned a good bit of Irish
    history and lingo.  They like to say "What's the crack" to ask what's going on.  I went to a local barbershop and was
    amazed how different English sounded coming from an Irish fellow.  If I didn't know better I'd swear they were speaking
    a different language. The live music scene was incredible in Dublin as well as Galway across the island.  The grass
    was lucious and green and the Cliffs of Moore impressive in scale.
    <div class="col-lg-8">
        <img class="img-fluid" src="{% static 'travel/img/IE.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-8">
        <img class="img-fluid" src="{% static 'travel/img/IE_Guiness.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-8">
        <img class="img-fluid" src="{% static 'travel/img/IE_galway.JPG' %}" alt="">
	</div>
</p>

{% endblock %}