{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Israel</h1>
<p>
    The Holy Land and Mike Pence. <br><br>

    I had been wanting to go to Israel for quite a while. We booked the airbnb's and car rentals, even a guide for a couple
    days. Then a few months out from the trip Trump announces his plans to move the embassy from Tel Aviv to Jerusalem.
    This prompted instant backlash from the Palestinians and violence ensued.
    It seemed to calm down in the weeks approaching the trip so we decided to proceed.
    Then, one day after landing in Israel, Mike Pence showed up and half the city shut down.<br><br>
    We flew in and first traveled to Jerusalem.  We stayed in New Jerusalem, but traveled each day up the hill to the old
    city to explore the history.  Jerusalem is split into quadrants: the Jewish, Christian, Muslim, Armenians.  Unsurprisingly,
    with such a diverse set of people in close quarters there is lots of conflict.  The Jews especially want to reclaim the city
    and are making a concerted effort to buy up property.  The most holy Jewish site, the Western Wall, is in Jerusalem.  But
    the Muslims second most holy site, Dome of the Rock, is also located in Jerusalem.  <br><br>
    <br><br><div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_2.jpg' %}"  style="transform:rotate(90deg);" alt="">
	</div></br></br><br><br>
    The most tense part of Jerusalem is when
    you approach Temple Mount.  You have to go through a security checkpoint.  Temple Mount is holy to the Jews because it
    is the site of Solomon's temple and then the second temple.  Now it is policed by the Muslim nations as it is a holy shrine.
    Many believe this is where conflict will break out as Jews will make a claim to retake the land.  The security checkpoint
    has the guards searching guides for drawings of the Second Temple as they believe having a guide take this out near the
    Muslim Shrine could provoke conflict.  You can only visit the shrine at certain times because the Muslim security clears
    the area out for prayer time.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_4.JPG' %}" alt="">
	</div></br></br>
    We had a guide with us who had served in the Israeli army as a tank commander but was
    now dedicating his life to trying to make peace between the palestinians and israelis through talks.  Just weeks before
    an Israeli guard had been shot at the gate to temple mount.  Israel has an interesting practice of creating a force of mixed
    heritage soldiers to guard this area, assuming they can bridge the racial/religious divide.  Much of the Jewish quarter
    appears newer than the rest of the old city, this is because it had bombed to pieces in war.  From the tops of buildings you
    could see the giant wall separating Israel from West Bank.  This wall is super controversial because the exact placement
    of the border is anything but agreed upon.  We walked the path of stations of the cross and I was blown away to walk the
    path Christ walked with the cross and stand in the spot where Christ was crucified.  We spent much of the trip
    seeking religious sites from the Sea of Galilee to Nazareth, but this definitely moved me the most.  Somehow the bible seems
    more like a story, the way you hear it growing up, it's wild to stand where the events took place.  It gives it a much
    more historical air.<br><br>
    Tel Aviv is a vibrant city.  It's stretching beach front almost reminds me of Miami.  Tel Aviv is a hot bed for technology
    and signs showed the presence of every big tech and consulting company.  There was a global influence with
    Asian food and Mexican food as any metropolis city, but my favorite was the local meal of warm pita bread and hummus.<br><br>

    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL.jpg' %}" alt="">
	</div></br></br>

    We took a trip south to hike Ein Gedi canyon and to take a dip in the Dead Sea.  The Dead Sea has such a high salt concentration
    you are buoyant in the water.  You can just sit there, suspended in the water without trying, an interesting phenomenon.
    <br><br><br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_3.jpg' %}"  style="transform:rotate(90deg);" alt="">
	</div></br></br>

</p>

{% endblock %}