{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }}</h1>
<p>
    Israel was a trip.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_2.jpg' %}"  style="transform:rotate(90deg);" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_3.jpg' %}"  style="transform:rotate(90deg);" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_4.JPG' %}" alt="">
	</div></br></br>
</p>

{% endblock %}