{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Israel</h1>
<p>
    The Holy Land and Mike Pence. <br><br>

    I had been wanting to go to Israel for quite a while. We booked the airbnb's and car rentals, even a guide for a couple
    days. Then months out Trump announces his plans to move the embassy from Tel Aviv to Jerusalem.  This prompted instant
    backlash from the Palestinians and violence ensued.  It seemed to calm down in the weeks approaching the trip so we
    decided to proceed.  Then, one day after landing in Israel, Mike Pence showed up and half the city shut down.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_2.jpg' %}"  style="transform:rotate(90deg);" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_3.jpg' %}"  style="transform:rotate(90deg);" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IL_4.JPG' %}" alt="">
	</div></br></br>
</p>

{% endblock %}