{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Italy</h1>
<p>
    Spring Break 2018.
    <br><br>
    We began our spring break trip with an overnight train from Switzerland to Naples.  We were in a time crunch so ordered
    a chauffeur to pick us up from the train station and drive us down the coast to Positano.  To our delight, there
    was a mercedes waiting for us by the station with a driver who thought we training for the Grand Prix.  He zipped down
    the coast passing busses on hair pin turns.  We spent a couple days lounging around the Amalfi Coast then caught a train
    up to Rome.  We travelled to the Vatican to catch Easter Service and got within 20 feet of the pope. {{ TODO story of Matt
    and the Vatican guard, Rome nightlife, }}
    <br><br>
    We then travelled to Florence.  I had a wild night involving a few too many wine bottles and spent the next day
    grasping the edge of the hostel bed frame as the room spun around me.  I got the chance to explore the city and attempt to
    finish some Compilers assignments while AJ and Matt took in some sights I had seen a couple years ago.
    <br><br>
    Next, we zipped up to the leaning tower of pizza and I spent an absurb amount of time lying on the ground trying
    to capture a picture of AJ midair karate kicking down the tower.
    <br><br>
    From there we payed a whole $15 to fly to Spain on Iberia, a favorite budget airline.
    <br><br>

    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IT.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IT_2.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IT_Coliseum.jpg' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IT_Vatican.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IT_Pope.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IT_Sunset.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/IT_Florence.JPG' %}" alt="">
	</div></br></br>
</p>

{% endblock %}