{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Morocco</h1>
<p>
    Souks and Domino's <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/MA_Sahara.JPG' %}" alt="">
	</div></br></br>

    Mom and I flew into Marrakech and stayed in a Riad for the first couple of days.  When we arrived the owner
    greeted us in the open courtyard and invited us to sit for tea and pastries.  They drink mint tea, which doesn't come in
    the tea bags we're used to, but a tea pot filled with the mint plant.  It's delicious in its simplicity.  For breakfast they
    would serve an arrangement of breads, jams, and olives.  <br><br>
    We wandered the twisting aisles of the markets observing the spices and avoiding the over excited vendors.
    I bought a copper pot hand crafted in the square.  <br><br>
    One thing that shocked me is how hard everyone was hassling us to try and make a sale.  Walking through the square
    restaurant owners practically grab you, trying to get you to eat at their restaurant.  Ironically, most the restaurants
    at the market serve the exact same menu, so I guess this is why salesmanship is so important.  Even little kids chase you
    down the maze of alleys, hoping to find a lost tourist who might tip them to be guided home.  By far the worst are the
    owners of the rug shops.  Not twenty minutes after arriving in the city, we were wandering down the street, when a man
    walked along side me and said, "how are you?  You enjoying the city?"  He recognized my confusion and added "I work a the
    hotel, i took your bags up to your room".  I know I sound like a sucker, but I wasn't assuming someone was trying to
    pull one on me, so I stuck up a conversation and asked him for advice on where we should visit.  He offered to show us
     to main square which sounded very nice until I realized he was just guiding us to his buddy's rug and spice shops and that
    he didn't in fact work at the hotel.  <br><br>
    My mom was suffering from a cold, and a local spice shop sold her a mix of spices you held in a pouch and sniffed to clear
    you up, kind of like a Moroccan vapor rub.  It looked dicey but kind of worked. <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/MA_Spices.JPG' %}" alt="">
	</div></br></br>
    One of the most fascinating things about Morocco is the range of Climates.   You start at the sea with beach towns,
    proceed to the high mountains covered in snow, then proceed to the Saharran desert experiencing every climate in between.
    A car ride across the country took us through a whirl wind of vegetation and wildlife. <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/MA_Mountains.JPG' %}" alt="">
	</div></br></br>
    Definitely a highlight of the trip was a camel ride into the desert.  Camels are unwieldy animals to ride. They are stubborn,
    with a mind of their own, and their long gawky legs give them a weird, halting gait that is incredibly uncomfortable to ride.
    However, their hooves navigate the desert well, and over a couple of hours were able to transport us into the dunes of the desert.
    The wind covers the tracks of the camels, so I have no idea how the guides navigate the shapeless dunes other than the direction of
    the sun.  We camped over night in the desert and the guides made a fire from driftwood and taught us to play the drums.  It was
    absolutely freezing in the desert and I wore every coat I had packed.<br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/MA.JPG' %}" alt="">
	</div></br></br>
    We ended the trip in Fez.  I like their markets better and fell in love with the intriguing, winding alleys.  Mom wasn't
    feeling great so I ended up wandering the markets a bit on my own, trying to get lost but not too lost.  We found
    some great restaurants.  One sat us in a courtyard garden and served incredible olives and tagines.  The other was a
    weird commune of a restaurant that had people meeting to beat drums together, not so much as a band, but as a random
    ragtag group waliing together.  I ate my first Camel burger, which was incredibly gamey and full of flavor.  The markets
    were known for dieing leather, but I was most fascinated by their copper shaping skills. I bought a copper pot, they shaped
    in front of me in the alley.<br><br>


    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/MA_Camels.JPG' %}" alt="">
	</div></br></br>


</p>

{% endblock %}