{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Netherlands</h1>
<p>
    Spring 2018 - Coffee Shop or Coffee Shop?
    One of Matt and my first weekend trips of the semester was to Amsterdam.  It seemed like us, and every other twenty
    year old in Europe.  At night, the red light district came alive with hoards of youth stumbling from bar to bar.
    We got recommended Disco Dolley from a local.  It was a local crowd and felt like a college house party playing weird
    electro music, but very fun nonetheless.
    Aside from the partying, Amsterdam was an absolutely gorgeous city.  The canals reminded me of Venice and the narrow
    brightly painted houses were beautiful.  We got a great historical tour from Sandymans, explaining the cities role
    in trade and the rise of the red light district.  <br><br>
    Among the big tourist items, we took a tour of the Heineken Factory.  Frankly, this was overrated.  They turned it into
    some kind of Disneyland production that was over the top and cheesy.  We weren't able to make it to the Anne Frank house
    because tickets sell out weeks in advance and we didn't plan ahead.  We toured the Van Gogh museum which I found worthwhile.
    <br><br>
    One of the highlights of the trip was when we took a stroll west through the city to a more residential area.  We escaped
    some of the crowds and tripped across a farmers market.  I wish we would have rented bikes to be able to see more of the city.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/NL.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/NL_Matt.JPG' %}" alt="">
	</div></br></br>
</p>

{% endblock %}