{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Portugal</h1>
<p>
    Spring Break. <br><br>
    <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/PT.jpg' %}"   style="transform:rotate(90deg);" alt="">
	</div></br></br><br><br>
    After London, we flew into Portugal.  Unfortunately, I was getting over food poisoning and wasn't very active for
    this leg of the journey but here's a couple things I remember.<br><br>
    Portugal is super cheap.  Everything from housing to food is much cheaper than the rest of Western Europe.  We met some
    ex pats who retired here for the quality of living they could afford on a budget.<br><br>
    We traveled to a palace, Quinta da Regaleira, in Sintra.  In 1904, a rich, eccentric man built a beautiful palace on
    the southern coast of portugal.  It's a mix of architectural styles and contains many symbols alluding to secret societies.
    The place had a maze of secret underground tunnels and a well believed to be used for Masonic Initiation rituals.  Oddly
    beautiful and creepy.<br><br>

    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/PT_2.jpg' %}" alt="">
	</div></br></br>
</p>

{% endblock %}