{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Sweden </h1>
<p>
    Fika and Furniture
    Spring 2018. <br><br>

    In one of my last weeks of studying in Sweden, I boarded a plane to meet up with my sister and her husband, Andrew.
    They had married right before I left for Switzerland so I was excited to take one of my first trips with them.
    I landed earlier in the day than them and was able to spend some time exploring the city.  I knew the Swedes were
    known for design and coffee and they did not disappoint on either count.  They have this wonderful cinnamon roll like
    dessert they serve with coffee called "Kanelbullar".  They have a term for getting coffee with friends, called Fika, that
    I loved.  I enjoyed walking through the historic streets of Stockholm and window shopping in all the outdoors outfitters.
    After being in Europe for several months, I had began to adobt some of the style and grow out my hair.  To my delight,
    one of the store owners mistook me for a new, young Swedish employee and began showing me around the store and my
    role, and was quite embarassed when I interrupted him to explain I was just a tourist.<br><br>

    We spent time visiting museums including an exhibit on one of the islands that shows buildings from throughout history.
    The weather was sunny and beautiful and like any cold place that gets this weather rarely, the city absolutely came alive.
    Beata had a booked a tiny one room airbnb and I slept on the floor with my head touching the front door and feet touching
    the foot of their bed.  I watched my first Eurovision while in Sweden.
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/SE.JPG' %}" alt="">
	</div>
</p>

{% endblock %}