{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Taiwan</h1>
<p>
    Spring Break sophomore year. <br><br>

    The Krannert School of Management planned a trip title "Asian Emerging Markets and Economies".  We traveled to Taiwan
    for a week and attended lectures at National Chengchi University.  We got a taste for the country from the night markets
    to HTC. <br><br>

    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/TW.JPG' %}" alt="">
	</div></br></br>

    A couple of lasting impressions from the country... <br><br>
    One, how clean the public transit was.  I don't know what they did
    to you if you littered but I've never seend a metro so clean I felt like I could eat off the floor.<br><br>
    Two, the amazing and cheap street food.  There were little karts along the streets that served incredibly cheap, but
    deilicous street food.  Our hotel offered breakfast, but it was this lame mix of Western and Taiwanese food, so every
    morning I would wonder out to the street and try to order a breakfast sandwhich from the kart.  I don't know what was
    on it and every day it was different, because I'd learned only about a dozen words in mandrin and for some reason thought
    I could therefore order my food in the language, a lot of the merchants didn't speak english, so it was half a challenge
    for myself and half a necessity.  Either way, quite quickly they would start asking follow up questions to my order and
    I'd just start nodding my head then hand them a wad of cash for whatever they passed me.  The night markets were packed
    tiny alleys with every smell and site you could imagine.  Some of the highlights included pig's blood rice, chicken feet
    soup and stinky tofu.  Stinky tofu you could smell from a block away because it was RANK.  It smelled so bad that people
    in apartments would ask the kart to move.  There was a wide selection of bubble team and beef ramen.  My favorite food from
    Taiwan would have to be a tie between beef ramen, a savory masterpiece, and dumplings.  Din Tai Fung is the gold standard of
    dumplings and a pioneer in quality control.  Each dumpling is weighed to the gram to maintain quality and consistency.
    We ate at the Taipei 101 branch which is a wait, but amazing.<br><br>
    <br><br><div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/TW_NightMarket.JPG' %}"  style="transform:rotate(90deg);" alt="">
	</div></br></br></br></br>

    The world in Taiwan revolves around convenience stores.  Like your average 711 meets Amazon.com you can do everything at
    a convenience store from ordering plane tickets to doing your dry cleaning.  I only used them to buy beer or admire the weird
    boiled eggs steeped in soy sauce they all seemed to carry.<br><br>
    Taiwan in has an incredibly interesting political climate.  They are always trying to claim their independence but not push
    it to far for fear that China will finally get fed up and invade.  The professor I heard described it like they felt comfortable
    that if China invaded without provocation the US would step in, but if Taiwan somehow prompted it they were screwed.<br><br>
    The night life was a little confusing to us, but maybe we didn't understand the city well enough.  When we went out looking
    for bars and clubs we always ended up in a western seeming bar.  My favorite bar served me a drink that came on a board with
    incense that they lit on fire with a blow torch.  They instructed me to smell the incense then down the drink. We found that
    the real party scene happened at the karaoke bars.  You rented out a full room with flat screens and sofas and sang your
    heart out to k pop and Gwen Stefani.  They told us that apartments are so small and tight in Taiwan, neighbors won't put up
    with the noise of you having a party, so the youth migrate to these karoake bars. <br><br>
    I found it intriguing how Taiwan, a geographically small and resource strapped country, had found a way to make money off
    technology and other manufacturing exports.  We got to tour HTC, and I was blown away by their virtual reality technology
    and entrepreneurial sprit, but also concerned by the nets they had in their lobby to catch people thinking about jumping from
    a much higher floor.  We got to meet a businessman who was disrupting the jean industry by pumping money into technological
    investments in an industry that had been relatively stagnant for years.<br><br>


    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/TW_Temple.JPG' %}" alt="">
	</div></br></br>

</p>

{% endblock %}