{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }} - Taiwan</h1>
<p>
    Spring Break sophomore year. <br><br>

    The Krannert School of Management planned a trip title "Asian Emerging Markets and Economies".  We traveled to Taiwan
    for a week and attended lectures at National Chengchi University.  We got a taste for the country from the night markets
    to HTC. <br><br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/TW.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/TW_Temple.JPG' %}" alt="">
	</div></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/TW_NightMarket.JPG' %}"  style="transform:rotate(90deg);" alt="">
	</div></br></br>

</p>

{% endblock %}