{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }}</h1>

<p>
    Lolla in Chicago.</br></br></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/US_Lolla.JPG' %}" style="transform:rotate(90deg);" alt="">
	</div></br></br></br></br>


    Noblesville, Indiana <br>
    I was born and raised in Noblesville, a suburb of Indianapolis.
    </br></br>
    West Lafayette, Indiana <br>
    Attended Purdue to study Computer Engineering.<br>
    Grey House Coffee and Harry's Chocolate Shop are definitely establishments at Purdue.
    </br></br>

    Bristol, CT <br>
    Spent a summer living in the suburbs of Hartford, CT working for GE Electric.
    Head over to West Hartford for some ritzy restaurants. In Hartford, Black Eyed Sally's is a favorite for it's live
    jazz music.  There's a lot of great parks for hikes or mountain biking throughout the suburbs.
    <br><br>

    San Jose, CA <br>
    Spent a summer living in the bay area working for Cisco Systems. <br>
    Plenty of fun things to do in the bay from hiking Mount Diablo to wandering Stanford's beautiful campus.
    I think Palo Alto has a great variety of food, but nothing beats grabbing a burrito in Mission District in San Fran.
    If the weather's nice, head over to Dolores Park for an eclectic crowd.
    </br></br>

    Chicago, IL <br>
    Spent a summer living in Chicago working for Deloitte consulting.
    Giordono's pizza, sausage or spinach with banana peppers, began an instant favorite.<br>
    Best places to get drinks in the summer: <br>
        -Cindy's - great view of millennium park, gets packed so go early and find a spot at the railing<br>
        -Gibson's Italia - not cheap, but their rooftop bar on the canal is my favorite place to have a cocktail when
            the weather's warm<br>
        -Slugger's = for a college bar experience, check out the bar with a full batting cage upstairs<br>

    </br></br>


</p>

{% endblock %}