{% extends 'travel/country.html' %}
{% load static %}

{% block content %}

<h1>{{ country_code }}</h1>
<p>
    Noblesville, Indiana (1996 - 2015)
    Born and Raised
    </br></br>
    West Lafayette, Indiana (2015-2019)
    Attended Purdue
    </br></br>
    Bristol, CT (Summer 2016)
    </br></br>
    San Jose, CA (Summer 2017)
    </br></br>
    Chicago, IL (Summer 2018)
    </br></br>
    Lolla at Chicago.</br></br></br></br>
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'travel/img/US_Lolla.JPG' %}" style="transform:rotate(90deg);" alt="">
	</div></br></br>

</p>

{% endblock %}